export DSATESTDATE=2013-10-08
export DSADRIVERNUMBER=YOURDRIVERNUMBER12345679
export DSAAPPOINTMENTNUMBER=123456789
export TWILIOACCOUNTSID=twilioaccountsid
export TWILIOAUTHTOKEN=twilioauthtoken
export TWILIOTONUMBER=+44712345679
export TWILIOFROMNUMBER=+44123456789
